body{
    background-color: black;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100vh;
    display: flex;
    color: white;

}
.form{
    height: 23rem;
    width: 21rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(55, 52, 52);
    padding: 2rem 1rem;
    gap: 1rem;
}
.input{
    height: 2.3rem;
    width: 100%;
    background-color: rgb(46, 45,46);
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 3rem;
    padding-right: 1rem;
    padding-left: 0.7rem;
}
.generate-qr{
    height: 2.8rem;
    width: 100%;
    background-color: rgb(51, 12, 51);
    border: none;
    outline: none;
    color: white;
    border-radius: 0.6rem;
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 0.7rem;
    font-weight: 600;
    cursor: pointer;
}
.generate-qr:hover{
    background-color: purple;
}